:root {
    --color-interactive: #9747FF;
    --color-item: #2E2F42;
    --color-main: #FFFFFF;
    --color-information: #434455;
    --color-active: #4D5AE5;

    --font-main: 'Roboto', sans-serif;
    --font-secondary: 'Raleway' sans-serif;

}


body {
    font-family: var(--font-main);
    background: var(--color-main);
    font-size: 16px;
    color: var(--color-item);
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*================Header==================*/


.page-header {
    background: var(--color-main);
}

.logo>span {
    color: var(--color-active);
}

.logo {
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--color-item);
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1158px;
    margin-top: 5px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo-web {
    margin-right: 77px;
}


.link {
    text-decoration: none;
}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list,
.list {
    list-style: none;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--color-item);

}

.nav-item {
    margin-right: 40px;
}

.nav-list .nav-item:last-child {
    margin-right: 0px;
}

.contact-main {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.contact-link {
    margin-right: 40px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-information);
}

.nav-link:hover,
.logo-box:hover,
.logo:hover,
.contact-link:hover {
    color: var(--color-interactive);
}

/*================Main Content================ */
.container-hero {
    padding-bottom: 192px;
    padding-top: 192px;
    min-width: 1440px;
    height: 603px;
    text-align: center;
    background: var(--color-item);
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;

    letter-spacing: 0.02em;
    color: var(--color-main);

    margin: 0;
}

.button {
    margin-top: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: var(--color-main);
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;

    background: var(--color-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover {
    background: var(--color-active);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.button:active {
    background: #404BBF;
}


/* Privileges */

.test-container {

    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    width: 1128px;

}

.flex-container {
    display: flex;
    margin: 0;
}

.flex-element {
    padding-right: 24px;
    width: 264px;
    margin: 0;

}

.flex-text {
    padding-top: 8px;
}


.gallery-section {
    padding: 120px 0;
}

.container {
    margin-top: 0;
}

.section-images {
    display: flex;
    margin: 0;
    padding: 0;
}

.section-img {
    margin-right: 24px;
    border: 1px solid #E7E9FC;
    flex-basis: calc(100% /3 - 24px);
}

.about {
    background: #F4F4FD;
    padding: 120px 0;
}

.about-list {
    display: flex;
    margin: 0;
    padding: 0;
    height: 380px;
    width: 1128px;
}

.about-list>.about-item {
    margin-right: 24px;
    flex-basis: calc(100% / 4-24px);
}

.about-item {
    background: var(--color-main);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px
}

.card {
    margin-bottom: 32px;
    width: 264px;
    height: 260px;
}

.fon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 232px;
    height: 56px;

    margin-left: auto;
    margin-right: auto;

}

.team-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-item);

}

.team-position,
.service-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-information);

}

.section-title {
    padding-bottom: 72px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-item);

}

/*==================== Footer ==================*/

.footer {
    margin-left: auto;
    margin-right: auto;
    background: var(--color-item);

    min-width: 1440px;
    height: 310px;

}

.container-footer {
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
    padding-right: 1020px;

}

.footer-text {
    padding-top: 16px;
}

.logo-box {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--color-item);
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--color-main);
}

.logo-box>span {
    color: var(--color-active);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;

}

/*================PORTFOLIO==================*/

.container-portfolio {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E5E5;

}

.container-button {

    margin-top: 96px;
    margin-bottom: 72px;
}

.container-motol {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
    gap: 24px;

}

.motol-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: var(--color-active);
    cursor: pointer;
    padding: 8px 16px;

    width: 126px;
    height: 48px;


    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

.motol-btn:hover,
.motol-btn:focus {
    background-color: var(--color-active);
    color: var(--color-main);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 1128px;
}

.portfolio-card {
    margin-right: 24px;

    width: 360px;
    height: 420px;

    background: var(--color-main);

    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.fon-text-card {
    margin: 32px 0;
    padding: 0px 16px;
}

.card-section {
    display: flex;
    padding-top: 48px;
}

.portfolio-card {
    flex-basis: calc(100% / 3 - 24px);
}

.project-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-item);
}

.project-text {
    margin-top: 8px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-information);
}